*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.container {
  width: 600px;
  background-color: #fff;
}

ul {
 display: inline;
 width: 600px;
 padding: 10px;
 display: inline-block;
 text-align: center;
}

li {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: lighter;
}

.alignleft {
	float: left;
  margin-left: -5px;
}

.alignright {
	float: right;
  margin-top: -17px;
  padding-right: 15px;
}

.aligncenter {
  margin-right: 28px;
}

div {
  background-color: #808080;
  border: 1px solid #000000;
}

#navdirection {
  padding: 10px;
  border: 1px solid #000000;
  font-size: 22px;
  font-family: sans-serif;
  color: white;
  font-weight: normal;
}

#navcontainer {
  padding: 10px;
  color: black;
}

#navlayout {
  font-weight: lighter;
  color: white;
}

#navlist {
  font-weight: bold;
}
