*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.statusbar {
  background-image: url("../images/Status-Bar.png");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  height: 18px;
}

button {
  background-color: #1026FF;
  border: none;
  color: #f8f8ff;
  padding: 5px 125px 5px 125px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin-left: 25px;
  border-radius: 5px;
}

.map {
  background-image: url("../images/Map.png");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  height: 375px;
}

.buslist {
  border-radius: 15px 15px 0 0;
  margin-top: -250px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

.container {
  width: 375px;
  background-color: #fff;
}

li {
  padding: 10px;
  display: inline-block;
}

h1 {
  padding: 10px 0 5px 10px;
  font-size: 36px;
}

h2 {
  padding: 0 0 15px 10px;
  font-size: 20px;
}

h3 {
  border-bottom: 375px;
  padding: 15px 10px 5px 7px;
  border-bottom: solid 1px;
  font-size: 15px;
}

.timethere {
  font-size: 13px;
  color: #f8f8ff;
}

.time {
  float: right;
  font-size: 13px;
  color: #00FF0A;
}

.newtime {
  float: right;
  font-size: 13px;
  color: #FF0000;
}

.natime {
  float: right;
  font-size: 13px;
  color: #FF0000;
  margin-top: -34px;
}

.row {
  text-align: center;
  font-family: arial;
  color: #f8f8ff;
  margin-top: 2px;
}

.busline{
  margin-bottom: -40px;
  float: left;
  font-size: 20px;
  border: solid 1px #6A6A6A;
  border-radius: 5px;
  background-color: #6A6A6A;
  margin-left: 8px;
  margin-top: 15px;
  padding: 3px 5px 3px 5px;
  width: 50px;
}

.destination {
  font-size: 19px;
  width: 100%;
  margin-top: 8px;
}

.frequency {
  float: right;
  padding: inherit;
  margin-right: 7px;
  margin-top: -35px;
  font-size: 18px;
  text-align: right;
}
